<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AUV Website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="missions.css">
  <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../home/auv_logo.png" alt="Logo" style="width:120px;">
    </a>

     <div class="collapse navbar-collapse">
       <ul class="navbar-nav ml-4">
         <li class="nav-item">
           <a class="nav-link" href="../home/index.html">HOME</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../auv/auv.html">AUV</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../team/team.html">TEAM</a>
         </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DEPARTMENTS</a>
           <div class="dropdown-menu" aria-labelledby="dropdown01">
             <a class="dropdown-item" href="#">Software</a>
             <a class="dropdown-item" href="#">Mechanical</a>
             <a class="dropdown-item" href="#">Embedded</a>
             <a class="dropdown-item" href="#">Corporate</a>
           </div>
         </li>
         <li class="nav-item">
           <a class="nav-link active" href="missions.html">MISSION</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../achievements/achievements.html">ACHIEVEMENTS</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../prActivities/pr.html">PR ACTIVITIES</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../sponsors/sponsors.html">OUR SPONSORS</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../contact/contact.html">CONTACT US</a>
         </li>
       </ul>
     </div>
   </nav>

   <section id="mission">
     <div class="container">
       <div class="row">
         <h2>MISSION</h2>
         <p>The technical team provides an excellent environment for interested students of all branches to experience the challenges of system engineering, to develop skill in accomplishing realistic missions with autonomous vehicles.To this effect the team has various departments managing different facets of the bot.</p>
         <p>The primary mission is to develop and amend research on several Autonomous Underwater  and Remotely-Operated Vehicles and Technologies that helps in several fields such as:</p>
         <ul>
           <li>Military Sector</li>
           <li>Environmental and Marine Research Sector</li>
           <li>Commercial Sectors</li>
         </ul>
       </div>
     </div>
   </section>

   <section id="application">
     <div class="container">
       <div class="row">
         <h2>APPLICATIONS</h2>
         <div class="types">
           <br>        
           <h4>Mine Detection</h4>
           <p>AUVs can be sent on a mission to map the area of water so as to detect any presence of any underwater mines in that area. Thus
             it can alert and warn the navy unit of the danger without risking any human life. AUV can perform the above task of mine hunting by using sophisticated technology such as Image processing and Underwater Acoustic Navigation.</p>
         </div>
<br>
         <div class="types">
           <h4>Monitoring a Projected Area</h4>
           <p>It is humanly impossible to survey/monitor the complete water borders of our country. Hence with the use of cutting edge technology like vision systems and acoustic systems, AUV can be used to monitor a protected area under the water as well as on the surface (example:  a port or a harbour.) It can detect any kind of unwanted or unidentified object present in that area and can send information about the
              same to the station/main ship so that the forces could take necessary actions.</p>
              <p>For E.g. the Mumbai terrorist attack could have been prevented if the coast guards or the navy had chain of AUVs forming a sophisticated network for information transfer.</p>
         </div>
<br>
         <div class="types">
           <h4>Anti-Submarine Warfare</h4>
           <p>AUVs are also employed in anti-submarine warfare. They can be deployed under the water to aid in the detection of manned submarines. Moreover mount the AUV with missiles and it can kill a submarine on its own. Not only it can destroy a submarine but also can pose heavy damage to enemy’s carriers and ships.</p>
           <p>Also it is far from coming or getting caught in the radar as its size is very  small to get detected, heat emissions are very less and it uses passive sonar systems, thus it doesn’t leave its signature anywhere in the water.</p>
         </div>
<br>
         <div class="types">
           <h4>Search / Rescue Missions & Pre-Disaster Warning</h4>
           <p>AUV can be deployed underwater for continuous stretch of time to search missing treasures, ships, lost wreckages etc.</p>
           <p>With the help of sophisticated sensors and communication network, AUV can give warnings regarding any oil disaster like the oil spill, so that the damage control team can take necessary actions in time. And thus the huge damage caused by disasters like Gulf of Mexico oil spill can be enormously reduced.</p>
         </div>
<br>
         <div class="types">
           <h4>Oil and Gas Exploration through detailed Seabed Mapping</h4>
           <p>AUVs may be used to make detailed maps of the seafloor before the company starts building subsea infrastructure; pipelines and subsea completions can be installed in the most cost effective manner with minimum disruption to the environment. The AUV will allow the company to conduct precise surveys or areas where traditional bathymetric surveys would be less effective or too costly.</p>
         </div>
<br>
         <div class="types">
           <h4>Inspection and Maintenance of Underwater Oil/Gas Pipelines</h4>
           <p>With the use of cutting edge technology like vision systems and acoustic systems, AUV can monitor underwater pipelines by conducting post-lay pipe surveys. It can detect any kind of leakage or damage to the pipeline and inform the concerned authorities of the same. It can also be equipped to perform repair works in case of leakage, thus saving a lot of time and money.</p>
         </div>


       </div>
     </div>
   </section>





   <footer>
     <p>DTU AUV Copyright &copy; 2018</p>
   </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
