.body, html{
  height: 100%
  margin:0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.navbar .collapse .navbar-nav li{
  padding-left: 5px;
  padding-right: 5px;
}

#mission {
  margin-top: 10%;
}

#application{
  margin-top: 5%;
  margin-bottom: 0;
}

footer{
  text-align: center;
  padding:10px;
  padding-top: 20px;
  color:#ffffff;
  background: #282e34;
  width: 100%;
  font-family: Roboto;
  margin-top: 10%;
}
